# IDEs and editors
.idea
.vscode
*.sublime-workspace

# Python
.venv
__pycache__
*.pyc
*.pyd
*.pyo
*.egg-info
dist
build

# Misc
.DS_Store
Thumbs.db

# Dependencies
poetry.lock

# Pytest
.pytest_cache